[Unit]
Description=Set redshift
After=graphical-session.target

[Service]
Type=oneshot
#Wait till desktop GUI is fully loaded
#ExecStartPre=/bin/sleep 20
ExecStart=%h/.local/bin/redshift-timestamped.sh
#Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
